papertitle {
    font-family: 'Candara', 'Hind Madurai', 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 15px; /* Adjust font size here */
    font-weight: 700;
    color: black;
}



papertitle:hover {
    color: #007acc;
}



.paper_links{
    font-family: 'Candara', 'Hind Madurai', 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.paper_links_splitter{
    font-family: 'Candara', 'Hind Madurai', 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}